{% extends 'base.html' %}

{% block content %}
                        <header class="special">
                            <span class="icon fa-unlock"></span>
                            <h2>
                                {% if request.user.is_authenticated %}
                                Reset Password
                                {% else %}
                                Forgot Password
                                {% endif %}
                            </h2>
                        </br>
                        </header>
                        <form style="float:none;" method="POST">
                            {% csrf_token %}
                            {% for field in form %}

                                <div style="width:100%;">

                                {% for error in field.errors %}

                                    <div class="6u 12u(mobile)" style="text-align:left;padding-bottom:2em;margin:auto;background-color:rgba(0,0,0,.3);">

                                        {{ error|safe }}

                                    </div>

                                {% endfor %}
                                    <div class="6u 12u(mobile)" style="margin:auto;padding-bottom:0em;" >

                                        {{ field.label }}

                                    </div>
                                    <div class="6u 12u(mobile)" style="margin:auto;padding-bottom:0em;" >

                                        {{ field }}

                                    </div>
                                </div>

                            {% endfor %}
                        </br>
                            <div class="12u">
                                <ul class="buttons">
                                    <li><input type="submit" class="special" value="Next Step" /></li>
                                </ul>
                            </div>
                        </form>
{% endblock %}