{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Shore Acres Improvement Association</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo" style="font-family: 'Vollkorn', serif;"><a href="index.html">Shore Acres on the Magothy</a></h1>
					<nav id="nav">
						<ul>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Community Info</a>
							</li>
							<li>
								<a href="#">Facilities</a>
							</li>
							<li>
								<a href="#">Events</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>

							<li><a href="#" class="button special">Login</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Welcome</h2>
						</header>
						<p>Welcome to our Shore Acres 
						</br>Community and thank you 
						</br>for visiting our Improvement 
						</br>Association website.</p>
						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button fit scrolly">Recent News</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-anchor"></span>
						<h2>Recent News</h2>
					</header>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="3u 12u(narrower)">

									<section>
										<header>
											<h3>October 5, 2017</h3>
										</header>
										<p style="text-align: left;">Residents can now pay membership dues online! <a href="#">Click here</a> for more info!</p>
									</section>

								</div>
								<div class="3u 12u(narrower)">

									<section>
										<header>
											<h3>October 4, 2017</h3>
										</header>
										<p style="text-align: left;">New website is under development. Woohoo!</p>
									</section>

								</div>
								<div class="3u 12u(narrower)">

									<section>
										<header>
											<h3>3 October, 2017</h3>
										</header>
										<p style="text-align: left;">Don't miss the halloween party at the clubhouse on Halloween! See the events page for more info!</p>
									</section>

								</div>
								<div class="3u 12u(narrower)">

									<section>
										<header>
											<h3>3 October, 2017</h3>
										</header>
										<p style="text-align: left;">Don't miss the halloween party at the clubhouse on Halloween! See the events page for more info!</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Upcoming Community Events</h2>
							</header>

							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><div class="img" style='background-image:url("images/pic06.jpg");'></div></a>
										<header>
											<h3>Halloween Party!</h3>
											<h1>October 31, 2017 6:00 PM</h1>
										</header>
										<p>Join us at the Club House at 6:00 PM for pizza and trick or treating!</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><div class="img" style='background-image:url("images/pic07.jpg");'></div></a>
										<header>
											<h3>Cooking / Herbs class</h3>
											<h1>November, 2017 7:00 PM</h1>
										</header>
										<p>Come to the clubhouse to enjoy a class on cooking with herbs taught by a Shore Acres resident.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><div class="img" style='background-image:url("images/pic08.jpg");'></div></a>
										<header>
											<h3>Board Meeting</h3>
											<h1>November 14, 2017 7:30 PM</h1>
										</header>
										<p>Board meeting at the club house with special guests from the Anne Arundel Fire Dept. to discuss emergency preparedness.</p>
									</section>

								</div>
							</div>

							<div class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</div>
							<div class="row">
								<div class="12u 12u(narrower)" style="padding-top:80px;">
									<h2>Have something going on?</h2>
									<p>If you have an event the community would be interested in, submit it here to be included in the community calendar!</p>
								<form>
									<div class="row 50%">
										<div class="6u 12u(mobile)">
											<input type="text" name="name" placeholder="Name" />
										</div>
										<div class="6u 12u(mobile)">
											<input type="text" name="email" placeholder="Email" />
										</div>
									</div>
									<div class="row 50%">
										<div class="12u">
											<input type="text" name="subject" placeholder="Subject" />
										</div>
									</div>
									<div class="row 50%">
										<div class="12u">
											<textarea name="message" placeholder="Message" rows="7"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="12u">
											<ul class="buttons">
												<li><input type="submit" class="special" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>
							</div>
							</div>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Sign up for out e-mail list!</h2>
						<p>Stay up to date with all of the Shore Acres info. Enter your email address below and you will be added to our e-mail update list.</p>
					</header>
					<footer>
						<form>
							<div class="row 50%">
								<div class="6u 12u(mobile)" style="float:inherit; margin: auto;">
									<input type="text" name="email" placeholder="Email" />
								</div>
							</div>
							<div class="row 50%" style="padding-top: 20px;">
								<div class="12u">
									<ul class="buttons">
										<li><input type="submit" class="special" value="Sign Up!" /></li>
									</ul>
								</div>
							</div>
						</form>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Shore Acres Improvement Association</li><li>Design: <a href="#">Shombo</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollgress.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>