{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-newspaper-o"></span>
                                <h2>Classifieds</h2>
                            </header>
                            <p>Are you a babysitter? Do you <strong>NEED</strong> a babysitter? Want to sell that old couch? Post it here!</p>
                            <footer>
                              <ul class="buttons vertical">
                                <li><a href="/classifieds/post/" class="button scrolly">New Post</a></li>
                              </ul>
                            </footer></br>
                            <div class="row">
                            {% if classifieds %}
                            {% for c in classifieds %}
                                <div class="3u 12u(narrower)">
                                    <section class="profile">
                                      {% if c.img1 %}
                                        <div class="img" style="background-image: url('/{{ c.img1 }}');">
                                      {% else %}
                                        {% if c.img2 %}
                                          <div class="img" style="background-image: url('/{{ c.img2 }}');">
                                        {% else %}
                                          {% if c.img3 %}
                                            <div class="img" style="background-image: url('/{{ c.img3 }}');">
                                          {% else %}
                                            <div class="img" style="background-image: url('/static/images/classified.jpg');">
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                        </div>
                                        <ul class="dir_info">
                                            <li>
                                                <span class="icon fa-plus"></span>
                                                    <a href="/classifieds/{{ c.id }}">{{ c.title }}</a></br>
                                            </li>
                                            <li>
                                                <span class="icon fa-calendar"></span>
                                                    Posted: {{ c.date|date }}</br>
                                            </li>
                                            <li>
                                                <span class="icon fa-user"></span>
                                                    Poster: {{ c.poster }}</br>
                                            </li>
                                    </ul>
                                    </section>
                                </div>
                            {% if forloop.counter|divisibleby:4 %}
                                </div>
                                <div class="row">
                            {% endif %}
                            {% endfor %}
                            {% else %}
                                <div class="12u 12u(narrower)">
                                    <section class="profile">
                                        <div class="img" style="background-image: url('/static/images/classified.jpg');">
                                        </div>
                                          No active classifieds posted!<br>Would you like to <a href="/classifieds/post/">post something</a>?
                                    </section>
                                </div>
                            {% endif %}
                            </div>
{% endblock %}