{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-money"></span>
                                <h2>Membership Information</h2>
                            </header>
                        </br>
                            <div class="row">
                            	<p style="text-align: left;">While membership fees are optional, we rely on the fees collected to fund the operation and maintenance of our playground, clubhouse, beach , plus community events throughout the year.</br></br>
                            	We encourage current and potentially new residents of our community to become a member in one of two ways.</br></br>
                                The first, is to {% if request.user.is_authenticated %}<a href="/dues/">pay online</a>.{% else %} visit the <strong>PAY DUES</strong> link under the <strong>MEMBERS</strong> tab after <a href="/login/">logging in</a>.{% endif %}</br></br>
                                If you'd rather mail a check, you can do so by:</br><br>
                                <a href="/static/files/SAIA_Membership.pdf">downloading</a> the new membership form, or requesting one from any of our officers or Board members.</br></br>
                                Once the form is complete, mail it along with the $45.00 fee to:</br></br>
                            	SAIA PO BOX 12</br>ARNOLD, MD 21012
                            </div>
                            
{% endblock %}