{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-calendar"></span>
                <h2>Upcoming Community Events</h2>
              </header>

              <div class="row">
                {% if events %}
                  {% for event in events %}
                    <div class="4u 12u(narrower)">

                      <section>
                        <div class="img" style='background-image:url("/{{ event.img }}");'></div>
                        <header>
                          <h3>{{ event.title }}</h3>
                          <h1>{{ event.date|date }} {{ event.date|time }}</h1>
                        </header>
                        <p>
                          {{ event.description }}
                        </p>
                      </section>

                    </div>
                  {% if forloop.counter|divisibleby:3 %}
                      </div>
                      <div class="row">
                  {% endif %}
                  {% endfor %}
                {% else %}
                    <div class="12u 12u(narrower)">

                      <section>
                        <a href="#" class="image featured"><div class="img" style='background-image:url("{% static 'images/def.jpg' %}");'></div></a>
                        <header>
                          <h3>No Upcoming Events</h3>
                        </header>
                        <p>
                          Check back soon!
                        </p>
                      </section>

                    </div>
                {% endif %}
                </div>
{% endblock %}