{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-bullhorn"></span>
                                <h2>Announcement Signs</h2>
                            </header>
                        </br>
                            <div class="row">
                            	<p style="text-align: left;">We are currently working on improving the announcement board and enclosing it with plexiglass to protect it from severe weather.  Signs posted will always be current and worth slowing down and reading. 
                            </div>
{% endblock %}