{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-ship"></span>
                                <h2>Boat Ramp</h2>
                            </header>
                            <div class="row">
                            	<p style="text-align: left;">The boat ramp is available for the use of all members of the Shore Acres community who acquire a permit.  The cost of a boat ramp permit for members of the Shore Acres Improvement Association is $35.00.  Residents and property owners may purchase a permit even if they are not members of the SAIA, but at a cost of $80.00.  SAIA members who own property that is part of the Lake Placid Waterway Improvement Tax District, and who pay a surcharge on their property taxes that pays for the dredging of the lake and channel, may be issued a boat ramp permit without charge.</br></br>
                              No one has permission to use the boat ramp unless he or she has obtained a permit from the SAIA.  A family need only purchase one permit regardless of the number of boats it owns or uses.  A family is defined as a household, under a single roof, at a single address.  People related by blood or marriage, no matter how close, are not considered family for purposes of membership or boat ramp purposes unless they are part of the same household as just defined.  If two residents own a boat jointly, they need only obtain one key between them.  A permit holder may obtain an additional key at the price of $5.00 – but only provided that it is not to be shared with another family.</br></br>
                              Roat Ramp Keys: The keys are changed every year in early May. To obtain a new key, please send a note to PO Box 12 Arnold MD with a check for $35 (make sure that your community dues are up-to-date). The note should include your address and phone number. You can also contact the following dedicated community volunteers, Cyndy (410-349-0259) or Chris (410-757-4779).</p>
                              <h2>Rules of the Boat Ramp</h2>
                              <ul style="margin:none, padding:none; text-align:left; margin-left:3em;width: 100%;">
                                <li>Keys are not to be lent out or shared under any conditions.</li>
                                <li>The boat ramp is to be locked after each use, both when putting the boat into the water, and taking it out.</li>
                                <li>The ramp may not be used for any commercial purpose, nor may permit-holders employ any commercial enterprise to use it without SAIA permission</li>
                                <li>No trailers are to be parked at the beach; boaters must take the trailers back to their home for the time they are out on their boat.</li>
                                <li>Boats may be tied up at the pier only while awaiting the arrival or departure of the trailer; no one may dock their boat there.</li>
                                <li>Users are expected to show courtesy in waiting to use the boat ramp and in staying out of the way of those who are using it; they are also expected to drive slowly along Forest Drive as they approach and leave the beach.</li>
                                <li>The speed limit on the lake and in the boat channel is 6 mph; boaters should observe this limit until they are beyond the stone jetty.</li>
                                <li>Payment for the boat ramp permit and use of the key constitutes agreement to abide by these rules; if the terms are accepted by using the key and the rules are not followed, the Association reserves the right to revoke the permit without any refund of fees.</li>
                              </ul>

                            </div>
{% endblock %}