{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-futbol-o"></span>
                                <h2>Recreation Area</h2>
                            </header>
                            <div class="row">
                            	<p style="text-align: left;">On the clubhouse grounds is a recreation field and playground.  The recreation area at the SAIA clubhouse comprises the basketball court, playground, sand box, benches, picnic tables, and grassy field in between.  It is owned and maintained by the Association.</br></br>
                              It is available for use by all members of the Shore Acres community, irrespective of whether they belong to the Association.  But it is for the exclusive use of the community.  No one from outside the community may use the recreation area  unless he or she is a guest.  Guests are permitted if accompanied by a Shore Acres resident or property owner.</p>
                              <h2>Rules of the Recreation Area</h2>
                              <ul style="margin:none, padding:none; text-align:left; margin-left:3em;width: 100%;">
                                <li>The filed and playground is open from sunrise to sundown.</li>
                                <li>Basketball court is open until the earliest of lights-out or 9:30pm.</li>
                                <li>All of the recreation area lies in front of the clubhouse.  There is no authorized use of the property outside of the recreation area, except in the case of Association-sanctioned activities</li>
                                <li>Children under the age of 9 must be supervised by someone at least 13 years of age.</li>
                                <li>The Improvement Association reserves the right to remove anyone from the premises for inappropriate or objectionable behavior.</li>
                                <li>The facilities are available on a first-come-first-served basis, except that the Association may pre-empt their use for Association functions, and the Association may pre-empt use of the basketball court or any other sports-related part of the area for scheduled games.</li>
                                <li>Rule violators will be treated as trespassers, regardless of residence or Association membership.</li>
                              <ul>
                                
                            </div>
{% endblock %}