{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-sun-o"></span>
                                <h2>Beach</h2>
                            </header>
                            <div class="row">
                            	<p style="text-align: left;">The community beach is available for the use of all members of the Shore Acres community, irrespective of whether they belong to the Shore Acres Improvement Association.  But it is for the exclusive use of the community.  No one from outside the community may use the beach unless he or she is a guest.  Guests are permitted if accompanied by a Shore Acres resident or property owner.</br></br>
                              The facilities (picnic tables, grills, benches, and volleyball net) have been provided by the Association for the enjoyment of those using the beach.  They are available on a first-come-first-serve basis.  The Association reserves the right to pre-empt their use for scheduled social activities.</br></br>
                              The kayak rack is available to SAIA members. Users are responsible for their own locking devices for their kayaks. Submit your request to SAIA via PO Box 12, 21012.</p>
                              <h2>Rules of the Beach</h2>
                              <ul style="margin:none, padding:none; text-align:left; margin-left:3em;width: 100%;">
                                <li>No glass containers are permitted on the beach.</li>
                                <li>No motorized vehicles are allowed any where at the beach except on the parking lot.</li>
                                <li>The parking lot is for parking automobiles only.  It is not to be used for boat trailers.</li>
                                <li>No open fires are allowed on the beach.  Only the grills may be used for fires.</li>
                                <li>Violators of these rules will be treated as trespassers, regardless of residence or Association membership</li>
                              </ul>

                            </div>
{% endblock %}