{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-institution"></span>
                                <h2>Officers</h2>
                            </header>
                            <div class="row">
                                <div class="3u 12u(narrower)">
                                    <section class="profile">
                                        <div class="img" style="background-image: url('/{{ president.img }}');">
                                        </div>
                                        <ul class="dir_info">
                                            <li>
                                                <span class="icon fa-institution"></span>
                                                    President</br>
                                            </li>
                                            {% if president.first_name and president.last_name %}
                                            <li>
                                                <span class="icon fa-user"></span>
                                                    {{ president.first_name }} {{ president.last_name }}</br>
                                            </li>
                                            {% endif %}
                                            {% if president.email %}
                                            <li>
                                                <span class="icon fa-envelope"></span>
                                                <a href="mailto:{{ president.email }}">{{ president.email }}</a></br>
                                            </li>
                                            {% endif %}
                                            {% if president.phone %}
                                            <li>
                                                <span class="icon fa-phone"></span>
                                                {{ president.phone }}
                                            </li>
                                            {% endif %}
                                            {% if president.house_number and president.street %}
                                            <li>
                                                <span class="icon fa-home"></span>
                                                {{ president.house_number }} {{ president.street }}
                                            </li>
                                            {% else %}
                                                {% if president.street %}
                                                <li>
                                                    <span class="icon fa-home"></span>
                                                    {{ president.street }}
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    </section>
                                </div>
                                <div class="3u 12u(narrower)">
                                    <section class="profile">
                                        <div class="img" style="background-image: url('/{{ vpresident.img }}');">
                                        </div>
                                        <ul class="dir_info">
                                            <li>
                                                <span class="icon fa-institution"></span>
                                                    Vice President</br>
                                            </li>
                                            {% if vpresident.first_name and vpresident.last_name %}
                                            <li>
                                                <span class="icon fa-user"></span>
                                                    {{ vpresident.first_name }} {{ vpresident.last_name }}</br>
                                            </li>
                                            {% endif %}
                                            {% if vpresident.email %}
                                            <li>
                                                <span class="icon fa-envelope"></span>
                                                <a href="mailto:{{ vpresident.email }}">{{ vpresident.email }}</a></br>
                                            </li>
                                            {% endif %}
                                            {% if vpresident.phone %}
                                            <li>
                                                <span class="icon fa-phone"></span>
                                                {{ vpresident.phone }}
                                            </li>
                                            {% endif %}
                                            {% if vpresident.house_number and vpresident.street %}
                                            <li>
                                                <span class="icon fa-home"></span>
                                                {{ vpresident.house_number }} {{ vpresident.street }}
                                            </li>
                                            {% else %}
                                                {% if vpresident.street %}
                                                <li>
                                                    <span class="icon fa-home"></span>
                                                    {{ vpresident.street }}
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    </section>
                                </div>
                                 <div class="3u 12u(narrower)">
                                    <section class="profile">
                                        <div class="img" style="background-image: url('/{{ secretary.img }}');">
                                        </div>
                                        <ul class="dir_info">
                                            <li>
                                                <span class="icon fa-institution"></span>
                                                    Secretary</br>
                                            </li>
                                            {% if secretary.first_name and secretary.last_name %}
                                            <li>
                                                <span class="icon fa-user"></span>
                                                    {{ secretary.first_name }} {{ secretary.last_name }}</br>
                                            </li>
                                            {% endif %}
                                            {% if secretary.email %}
                                            <li>
                                                <span class="icon fa-envelope"></span>
                                                <a href="mailto:{{ secretary.email }}">{{ secretary.email }}</a></br>
                                            </li>
                                            {% endif %}
                                            {% if secretary.phone %}
                                            <li>
                                                <span class="icon fa-phone"></span>
                                                {{ secretary.phone }}
                                            </li>
                                            {% endif %}
                                            {% if secretary.house_number and secretary.street %}
                                            <li>
                                                <span class="icon fa-home"></span>
                                                {{ secretary.house_number }} {{ secretary.street }}
                                            </li>
                                            {% else %}
                                                {% if secretary.street %}
                                                <li>
                                                    <span class="icon fa-home"></span>
                                                    {{ secretary.street }}
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    </section>
                                </div>
                                 <div class="3u 12u(narrower)">
                                    <section class="profile">
                                        <div class="img" style="background-image: url('/{{ treasurer.img }}');">
                                        </div>
                                        <ul class="dir_info">
                                            <li>
                                                <span class="icon fa-institution"></span>
                                                    Treasurer</br>
                                            </li>
                                            {% if treasurer.first_name and treasurer.last_name %}
                                            <li>
                                                <span class="icon fa-user"></span>
                                                    {{ treasurer.first_name }} {{ treasurer.last_name }}</br>
                                            </li>
                                            {% endif %}
                                            {% if treasurer.email %}
                                            <li>
                                                <span class="icon fa-envelope"></span>
                                                <a href="mailto:{{ treasurer.email }}">{{ treasurer.email }}</a></br>
                                            </li>
                                            {% endif %}
                                            {% if treasurer.phone %}
                                            <li>
                                                <span class="icon fa-phone"></span>
                                                {{ treasurer.phone }}
                                            </li>
                                            {% endif %}
                                            {% if treasurer.house_number and treasurer.street %}
                                            <li>
                                                <span class="icon fa-home"></span>
                                                {{ treasurer.house_number }} {{ treasurer.street }}
                                            </li>
                                            {% else %}
                                                {% if treasurer.street %}
                                                <li>
                                                    <span class="icon fa-home"></span>
                                                    {{ treasurer.street }}
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    </section>
                                </div>
                            </div>
{% endblock %}