{% extends 'base.html' %}
{% load static %}
{% block content %}
                        <header class="special">
                            <span class="icon fa-gavel"></span>
                            <h2>Edit Positions</h2>
                        </header>
        
                        {% if problems %}
                        
                            {% for p in problems %}
                        
                                {{ p }}</br>
                        
                            {% endfor %}</br>
                        
                        {% endif %}
                        
                        <form method="post">
                        
                            {% csrf_token %}

                            </br>
                            <table>
                                <tr>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        President
                                    </th>
                                    <th>
                                        Vice President
                                    </th>
                                    <th>
                                        Secretary
                                    </th>
                                    <th>
                                        Treasurer
                                    </th>
                                    <th>
                                        Director
                                    </th>
                                </tr>

                                {% for p in profiles %}
                                    {% if p.first_name and p.last_name %}
                                    
                                    <tr>
                                        <td>
                                            {{ p.first_name }}
                                        </td>
                                        <td>
                                            {{ p.last_name }}
                                        </td>
                                        <td>
                                            <input type="checkbox" name="{{ p.user.id }}_is_president" {% if p.is_president %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="{{ p.user.id }}_is_vice_president" {% if p.is_vice_president %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="{{ p.user.id }}_is_secretary" {% if p.is_secretary %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="{{ p.user.id }}_is_treasurer" {% if p.is_treasurer %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="{{ p.user.id }}_is_director" {% if p.is_director %}checked{% endif %}>
                                        </td>
                                    </tr>

                                    {% endif %}
                                {% endfor %}
                            </table>
                            <div class="12u">
                                <ul class="buttons">
                                    <li><input type="submit" class="special" value="Submit" /></li>
                                </ul>
                            </div>
                        </form>
{% endblock %}