{% extends 'base.html' %}
{% load static %}
{% block content %}
              <header class="special">
                  <span class="icon fa-newspaper-o"></span>
                  <h2>Post a Classified</h2>
              </header>
              Please enter a title, description, and up to 3 images:
                <form method='post' enctype="multipart/form-data">
                    {% csrf_token %}</br>
                    <div class="row 50%">
                        <div class="6u 12u(mobile)" style="float:inherit; margin: auto;">
                            <input type="text" id="title" name="title" placeholder="Title (required)" rows="4" required/></input>
                        </div>
                    </div></br>
                    <div class="row 50%">
                        <div class="6u 12u(mobile)" style="float:inherit; margin: auto;">
                            <textarea id="description" name="description" placeholder="Description (required)" rows="4" required/></textarea>
                        </div>
                    </div></br>
                    <script>
                        function readURL(input, f) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();
                                        var selector = f;
                                        reader.onload = function (e) {
                                            $(selector)
                                                .attr('src', e.target.result);
                                        };

                                        reader.readAsDataURL(input.files[0]);
                                    }
                                };
                        function clearbutton(e,f) {
                            $(e).attr('src', '');
                            $(f).attr('checked', true);
                        };
                    </script>
                    <div style="width:100%;">
                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                            <label>Image 1</label>   
                        </div>
                    </div>
                    <div style="width:100%;">
                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;padding-bottom:2em;" >
                            <img id="imgpreview1" src="" style="max-width:200px;">
                            <br/>
                            <label for="id_img1" class="custom-file-upload">
                                Image 1 Upload
                            </label>
                            <input type='checkbox' name='ignore_file1' id='ignore_file1' style='display:none;'>
                            <input id="id_img1" name="img1" type="file" onchange="readURL(this, '#imgpreview1');"/>
                            <label for="clear-button" class="custom-file-upload">
                                Clear
                            </label>
                            <input id="clear-button" type="button" onclick="clearbutton('#imgpreview1','#ignore_file1');" style="display:none;"/>
                        </div>
                    </div>
                    <div style="width:100%;">
                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                            <label>Image 2</label>   
                        </div>
                    </div>
                    <div style="width:100%;">
                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;padding-bottom:2em;" >
                            <img id="imgpreview2" src="" style="max-width:200px;">
                            <br/>
                            <label for="id_img2" class="custom-file-upload">
                                Image 2 Upload
                            </label>
                            <input type='checkbox' name='ignore_file2' id='ignore_file2' style='display:none;'>
                            <input id="id_img2" name="img2" type="file" onchange="readURL(this, '#imgpreview2');"/>
                            <label for="clear-button" class="custom-file-upload">
                                Clear
                            </label>
                            <input id="clear-button" type="button" onclick="clearbutton('#imgpreview2','#ignore_file2');" style="display:none;"/>
                        </div>
                    </div>
                    <div style="width:100%;">
                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                            <label>Image 3</label>   
                        </div>
                    </div>
                    <div style="width:100%;">
                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;padding-bottom:2em;" >
                            <img id="imgpreview3" src="" style="max-width:200px;">
                            <br/>
                            <label for="id_img3" class="custom-file-upload">
                                Image 3 Upload
                            </label>
                            <input type='checkbox' name='ignore_file3' id='ignore_file3' style='display:none;'>
                            <input id="id_img3" name="img3" type="file" onchange="readURL(this, '#imgpreview3');"/>
                            <label for="clear-button" class="custom-file-upload">
                                Clear
                            </label>
                            <input id="clear-button" type="button" onclick="clearbutton('#imgpreview3','#ignore_file3');" style="display:none;"/>
                        </div>
                    </div>
                    <div class="row 50%" style="padding-top: 20px;">
                        <div class="12u">
                            <ul class="buttons">
                                <li><input type="submit" class="special" value="Submit" /></li>
                            </ul>
                        </div>
                    </div>
                </form>

{% endblock %}