{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon {{ icon }}"></span>
                                <h2>{{ title }}</h2>
                            </header>
                            <h2>About Shore Acres and the Shore Acres Improvement Association</h2>
                            <div class="row">
                                <p> Shore Acres has both a narrow and wide definition.  For the purposes of the county land records, it is the subdivision of Shore Acres only.  But for practical community matters, it includes Adams Point, Weatherly, and various parcels of land in between that are all served by the Shore Acres Improvement Association.  ( “Shore Acres Estates” is part of the Shore Acres subdivision.) SAIA is an Improvement Association and <strong>not a Home Owners Association</strong>. We are a voluntary association with no mandated fees or payments. Please do not contact anyone listed on this site to help with your settlement needs. Understand that membership is voluntary as an Improvement Association and will not affect transfer of title in anyway.
                                </p>
                            </div>
                            <br/>
                            <h2>Background</h2>
                            <div class="row">
                                <p> Originally subdivided into lots in the 1920's,  Shore Acres grew up in stages.  The first wave of construction came in the form of summer homes for residents of Baltimore wishing weekends on the water.  Increasingly, the community became a home for year-round residents as the post-war move to the suburbs brought successive waves of building that continues today.
                                <p>As a consequence, the community boasts a variety of different types of homes.  Unlike housing developments of uniform design and age, in Shore Acres one will find colonials, cape cods, split levels, split foyers, ranchers, ramblers, and even the remnants of the summer homes of 1930's, now renovated and enlarged.  Property assessments for improved properties range from under $100,000 to over $1 million.
                                <p>This diversity echoes the diversity of the individuals who make up the neighborhood.  A thorough mix of people can be found from a variety of backgrounds engaged in a range of different occupations.  The mechanic and electrician and the engineer alike reside here with the Harvard-educated lawyer, the physician, and the retired bay waterman.  New homeowners from out of state live side-by-side with people who have been in Shore Acres for more than seventy years.  While some may be living here with a view to move on, it is not uncommon to find four generations of the same family all living in Shore Acres.
                                </p>
                            </div><br/>
                            <h2>The Association</h2>
                            <div class="row">
                                <p>Located on the Magothy River and Deep Creek, Shore Acres is a water-privileged community with its own community beach and boat ramp.  Not subject to covenant restrictions requiring fees paid to an association, Shore Acres has always successfully relied on the spirit of volunteerism to advance the interests of homeowners through the Shore Acres Improvement Association.  Membership in the Shore Acres Improvement Association is open to residents and property owners in the subdivisions of Shore Acres, Adams Point, and Weatherly, and in adjacent properties accessed by road through Shore Acres.
                            </div><br/>

                                <h3>The Association maintains:</h3>
                                <ul class="content_ul">
                                      <li>a community beach, with picnic tables and grills,</li>
                                      <li>a playground and recreation field, with a basketball court,</li>
                                      <li>a boat ramp (available to members at an annual cost), and</li>
                                      <li>a clubhouse (which members can rent for private use).</li>
                                   </ul></p>
                                <h3>The Association provides a forum for the discussion of important issues.  These have included:
                                </h3>
                                <ul class="content_ul">
                                        <li>sidewalks</li>
                                        <li>speed humps</li>
                                         <li>acceptance or rejection of public water,</li>
                                      <li>dealing with rapidly rising property tax assessments, and</li>
                                      <li>controlling the gypsy moth infestation.</li>
                                   </ul>
                                <h3>The Association is the community's link to umbrella groups such as:</h3>
                                   <ul class="content_ul">
                                          <li>Magothy River Association, and</li>
                                       <li>Broadneck Federation,</li></ul>
                                <h3>and our liaison with the County government for such things as:</h3>
                                <ul class="content_ul">
                                          <li>dumpsters for community cleanup,</li>
                                       <li>better police and fire protection,</li>
                                       <li>mosquito control and snow removal plans, and </li>
                                       <li>trees, funds, and other assistance with area beautification.</li></ul>
                                <p>
                                    Most of all, the Association is a mechanism that permits the community to speak with a single voice to those who might not otherwise listen.
                                </p>
                            <h2>Geography</h2>
                            <div class="row">
                                <p>Shore Acres proper is the subdivision of Shore Acres as described in the land records of Anne Arundel County, District 3, Map 33, Block 22, Parcel 37, subdivision 749.   The Community begins on Shore Acres Road at number 649 on the right (opposite of Stonington) and on the left at number 848 (just after Stonington).
                                <p>For the purposes of the Improvement Association, it also includes the subdivision of Adams Point (also known as Cedar Point, Parcel 49), and Weatherly (Parcel 63).  In addition, it includes all those parcels of land not part of any subdivision but accessible by automobile through Shore Acres (these include parcels on Magothy Avenue and Landon Lane, sandwiched between Weatherly, Adams Point and Shore Acres, and those beyond Shore Acres at the end of Burnett Avenue).
                                <p>Streets in the neighborhood include Shore Acres Road, Deep Creek Avenue, Arundel Drive, Hilltop Road, Magothy Avenue, Landon Lane, Lake Drive, Forest Drive, Burnett Avenue, Wharf Road, BennettsRoad, Smith Drive, Phillips Road, and Morgan Drive.  Not all street names correspond to those in the original – superseded – 1921 plat of the neighborhood, or even to those in the – revised – 1929 plat of Shore Acres.  In addition, some of these streets are discontinuous.  Arundel Drive, for example, currently exists in three separate parts, two of which are fairly distant from each other.  Forest Drive also has two unconnected parts.  
                                <p>Parts of several streets are not county-owned, but are public ways maintained either formally or informally by residents.  There are also several rights-of-way to the water that show up in old maps that are no longer public, and some of which that are. And there are some private rights-of-way, use of which is restricted to a few property-owners.  (So care must be exercised before deciding to traverse what may turn out to me someone’s private property.)
                                <p>The only properties open to the community at large are those of the Association.  SAIA owns lots 210, 211, and 221.  Lot 210 holds the clubhouse, playground, and basketball court.  Lot 211 is the adjacent lot on Magothy Avenue, currently wooded.  Lot 221 lies behind the clubhouse, running perpendicular to the other two; it fronts on Arundel Drive; and it is the location of the clubhouse parking lot.  The Association also owns the Community Beach at the end of Forest Drive and the shore on the opposite side of the channel.  All other property in the neighborhood, no matter how spacious or vacant, is privately owned.
                                </p>
                            </div>
{% endblock %}

