{% extends 'base.html' %} {% load static %} {% block content %}
<main id="content" class="content py-0">
  <div
    class="blog-single-cover scheme-light"
    data-fullheight="true"
    data-inview="true"
    data-inview-options='{ "onImagesLoaded": true }'
    style="background: transparent;"
  >
    <figure
      class="blog-single-media"
      data-responsive-bg="true"
      data-parallax="true"
      data-parallax-options='{ "parallaxBG": true, "triggerHook": "onLeave" }'
      data-parallax-from='{ "translateY": "0%" }'
      data-parallax-to='{ "translateY": "20%" }'
    >
      <img
        src="{% static '/assets/bg/about.jpg' %}"
        style="max-height: 960px; width: auto;"
      />
    </figure>

    <div
      class="blog-single-details"
      style="width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <header
              class="entry-header blog-single-header"
              data-parallax="true"
              data-parallax-to='{ "opacity": 0, "translateY": "30%" }'
              data-parallax-options='{ "triggerHook": "0.3" }'
            >
              <h1
                class="blog-single-title entry-title h2"
                data-split-text="true"
                data-split-options='{ "type": "lines" }'
              >
                About The Shore Acres Improvement Association
              </h1>
            </header>
            <!-- /.blog-single-header -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.blog-single-details -->
  </div>
  <!-- /.blog-single-cover -->

  <article class="blog-single">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="blog-single-content entry-content pull-up expanded">
            <h3>Overview</h3>

            <p>
              The Shore Acres Improvement Association serves more than the Shore
              Acres subdivision as defined in the county land records. The
              Association serves Adam's Point, Weatherly, Shore Acres Estates,
              and various other smaller subdivisions. SAIA is an Improvement
              Association, not a Home Owners Association, with voluntary
              participation with no mandatory fees.
            </p>

            <h3>History</h3>

            <p>
              Originally subdivided into lots in the 1920s, Shore Acres grew up
              in stages. The first wave of construction came in the form of
              summer homes for residents of Baltimore wishing weekends on the
              water. Increasingly, the community became a home for year-round
              residents as the post-war move to the suburbs brought successive
              waves of building that continues today. Consequently, the
              neighborhood's homes are varied and unique from one another.
            </p>
            <p>
              This diversity echoes the diversity of the individuals who make up
              the neighborhood. A thorough mix of people can be found from a
              variety of backgrounds engaged in a range of different
              occupations. The mechanic and electrician and the engineer alike
              reside here with the Harvard-educated lawyer, the physician, and
              the retired bay waterman. New homeowners from out of state live
              beside people who have been in Shore Acres for more than seventy
              years. While some residents may not stay forever, many remain for
              generations.
            </p>

            <h3>The Association</h3>

            <p>
              The Shore Acres Improvement Association is a voluntary, membership
              based, dues and donation supported organization responsible for
              maintaining community amenities, providing a forum to discuss
              community issues, interfacing with external organizations, and
              serving as the liason between the neighborhood and government.
            </p>

            <h3>Geography</h3>

            <p>
              Shore Acres proper is the subdivision of Shore Acres as described
              in the land records of Anne Arundel County, District 3, Map 33,
              Block 22, Parcel 37, subdivision 749.
              <a href="/static/files/plat.pdf">
                Click here to see the official map.</a
              >
            </p>
            <p>
              The Shore Acres Improvement Association also serves Adams / Cedar
              Point, Weatherly and all parcels of land not part of any
              subdivision but accessible by automobile via Shore Acres. SAIA
              owns lots 210, 211, and 221, which are open to the public. Lot 210
              holds the clubhouse, playground, and basketball court. Lot 211 is
              the adjacent wooded lot along Magothy Ave. Lot 221 lies behind the
              clubhouse, currently serving as the parking lot for the club house
              and trailer parking for residents. The Association also owns the
              Community Beach at the end of Forest Drive and the shore on the
              opposite side of the channel. All other property in the
              neighborhood is privately owned.
            </p>

            <h3 id="membership">Membership</h3>

            <p>
              Becoming a member of the Shore Acres Imporvement Association
              membership is the first step you can take to keep our community
              beautifully maintained. While membership is optional, your dues
              help fund maintenance projects, the beach, the clubhouse, and
              community events like our annual holiday and Halloween parties.
            </p>

            <p>
              To become a member,
              <a href="/static/files/SAIA_Membership.pdf"
                >download the membership form by clicking here</a
              >, or contact us and one will be sent to you. Once complete, mail
              the form, along with the associated fees annotated on the form to:
            </p>
            <ul class="reset-ul text-fade-black-08 ltr-sp-025 ml-5">
              <li class="mb-1">SAIA</li>
              <li class="mb-1">PO Box 12</li>
              <li class="mb-3">Arnold, MD, 21012</li>
            </ul>

            <footer class="blog-single-footer entry-footer"></footer>
            <!-- /.blog-single-footer entry-footer -->
          </div>
          <!-- /.col-md-8 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
      <!-- prettier-ignore -->
    </div>
  </article>
  <!-- /.blog-single -->
</main>
<!-- /#content.content -->
{% endblock %}
