{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-money"></span>
                                <h2>Membership Information</h2>
                            </header>
                        </br>
                            <div class="row">
                                <p>Your Shore Acres Imporvement Association membership is the first step you can take to keep our community beautifully maintained. While membership is optional, your dues help fund projects like maintaining our <a href="/facilities/boatramp/">boat ramp</a>, <a href="/facilities/beach/">beach</a>, <a href="/facilities/clubhouse/">clubhouse</a>, and others. Your dues also provide funding for community <a href="/events/">events</a> like our annual holiday and Halloween parties.
                                <p>All residents are highly encouraged to become a member and support our community! To become a member, <a href="/static/files/SAIA_Membership.pdf">download</a> the membership form, or <a href="/contact/">contact us</a> and one will be sent to you. Once complete, mail the form, along with the associated fees annotated on the form to:
                                <div style="text-align:center; width: 100%;">SAIA PO BOX 12
                                <br/>Arnold, MD, 21012</div>
                            </div>
                            
{% endblock %}
