{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
                        <header class="special">
                            <span class="icon fa-{{ icon }}"></span>
                            <h2>{{ title }}</h2>
                        </header>
                        <p>

                        {% if profiles %}
                            {{ profiles|get_nav_links|safe }}
                        {% endif %}

                        </p>

                        {% if title == "classifieds" %}
                        <footer>
                          <ul class="buttons vertical">
                            <li><a href="/classifieds/post/" class="button scrolly">New Post</a></li>
                          </ul>
                        </footer></br>
                        {% endif %}
                        
                        {% if title == 'neighborhood directory' or title == 'officers' or title == 'board of directors' %}
                            {% if profiles %}
                            <div class="row">

                                {% for p in profiles %}
                                        
                                    <div class="3u 12u(narrower)">
                                        <article id='{{ p.last_name.0 }}' class="hidden_anchor"></article>
                                        <a id='{{ p.user.username }}' class="hidden_anchor"></a>
                                        <section class="profile">
                                            <div class="img" style="background-image: url('{{ p.img.url }}');">
                                            </div>
                                            <ul class="dir_info">

                                                {% if p.is_president %}

                                                <li>
                                                    <span class="icon fa-institution"></span>
                                                        President</br>
                                                </li>

                                                {% endif %}

                                                {% if p.is_vice_president %}

                                                <li>
                                                    <span class="icon fa-institution"></span>
                                                        Vice President</br>
                                                </li>

                                                {% endif %}

                                                {% if p.is_secretary %}

                                                <li>
                                                    <span class="icon fa-institution"></span>
                                                        Secretray</br>
                                                </li>

                                                {% endif %}

                                                {% if p.is_treasurer %}

                                                <li>
                                                    <span class="icon fa-institution"></span>
                                                        Treasurer</br>
                                                </li>

                                                {% endif %}

                                                {% if p.is_director %}

                                                <li>
                                                    <span class="icon fa-institution"></span>
                                                        Board of Directors</br>
                                                </li>

                                                {% endif %}

                                                {% if p.first_name and p.last_name %}

                                                <li>
                                                    <span class="icon fa-user"></span>

                                                        {{ p.first_name }} {{ p.last_name }}</br>

                                                </li>

                                                {% endif %}

                                                <li>
                                                    <span class="icon fa-at"></span>

                                                        {{ p.user.username }}</br>

                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="icon fa-envelope"></span>
                                                    <a href="mailto:{{ p.user.email }}">{{ p.user.email }}</a></br>
                                                </li>

                                                {% if p.phone %}

                                                <li>
                                                    <span class="icon fa-phone"></span>

                                                    {{ p.phone }}

                                                </li>

                                                {% endif %}

                                                {% if p.house_number and p.street %}

                                                <li>
                                                    <span class="icon fa-home"></span>

                                                    {{ p.house_number }} {{ p.street }}

                                                </li>

                                                {% else %}

                                                    {% if p.street %}
                                                    <li>
                                                        <span class="icon fa-home"></span>

                                                        {{ p.street }}

                                                    </li>

                                                {% endif %}

                                            {% endif %}

                                        </ul>
                                        </section>
                                    </div>
                                    {% if forloop.counter|divisibleby:4 %}
                                        </div>
                                        <div class="row">
                                    {% endif %}
                                {% endfor %}
                            {% else %}

                                Nobody is in the directory yet!
                                </br><a href='/edit/'>Be the first!</a>

                            {% endif %}
                        {% endif %}

                        {% if title == "upcoming community events" %}
                            {% if events %}

                            <div class="row">

                                {% for e in events %}
                                        
                                    <div class="3u 12u(narrower)">
                                        <section class="profile">
                                            <div class="img" style="background-image: url('{{ e.img.url }}');">
                                            </div>
                                            <ul class="dir_info">

                                                <li>
                                                    <span class="icon fa-calendar-o"></span>
                                                        {{ e.date|date }} {{ e.date|time }}
                                                </li>

                                                <li>
                                                    <span class="icon fa-tag"></span>

                                                        {{ e.title|title }}</br>

                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="icon fa-info-circle"></span>

                                                        {{ e.description }}</br>
                                                </li>

                                        </ul>
                                        </section>
                                    </div>
                                    {% if forloop.counter|divisibleby:4 %}
                                        </div>
                                        <div class="row">
                                    {% endif %}
                                {% endfor %}
                            {% else %}

                                No upcoming events.</br>Check back soon!

                            {% endif %}
                        {% endif %}


                        {% if title == "recent news" %}
                            {% if news %}

                            <div class="row">
                            
                                {% for n in news %}
                                        
                                    <div class="3u 12u(narrower)">
                                        <section class="profile">

                                            <ul class="dir_info">

                                                <li>
                                                    <span class="icon fa-calendar-o"></span>
                                                        {{ n.date|date }} {{ n.date|time }}
                                                </li>

                                                <li>
                                                    <span class="icon fa-at"></span>

                                                        {% if n.poster.directory_visible and request.user.is_authenticated %}
                                                            <a href="/directory/#{{ n.poster.user.username }}">
                                                        {% endif %}
                                                            {{ n.poster.user.username }}
                                                        {% if n.poster.directory_visible and request.user.is_authenticated %}
                                                            </a>
                                                        {% endif %}</br>

                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="icon fa-info-circle"></span>

                                                        {{ n.news }}</br>
                                                </li>

                                        </ul>
                                        </section>
                                    </div>
                                    {% if forloop.counter|divisibleby:4 %}
                                        </div>
                                        <div class="row">
                                    {% endif %}
                                {% endfor %}
                            {% else %}

                                No news yet!</br>Check back soon!

                            {% endif %}
                        {% endif %}

                        {% if title == "classifieds" %}
                            {% if classifieds %}

                            <div class="row">

                                {% for c in classifieds %}

                                    <div class="3u 12u(narrower)">
                                        <section class="profile">
                                
                                          {% if c.img1 %}
                                
                                            <div class="img" style="background-image: url('{{ c.img1.url }}');">
                                
                                          {% else %}
                                
                                            {% if c.img2 %}
                                
                                              <div class="img" style="background-image: url('{{ c.img2.url }}');">
                                
                                            {% else %}
                                
                                              {% if c.img3 %}
                                
                                                <div class="img" style="background-image: url('{{ c.img3.url }}');">
                                
                                              {% else %}
                                
                                                <div class="img" style="background-image: url('/static/images/classified.jpg');">
                                
                                              {% endif %}
                                            {% endif %}
                                          {% endif %}
                                
                                            </div>
                                            <ul class="dir_info">
                                                <li>
                                                    <span class="icon fa-plus"></span>
                                                        <a href="/classifieds/{{ c.id }}">

                                                            {{ c.title }}

                                                        </a></br>
                                                </li>
                                                <li>
                                                    <span class="icon fa-calendar"></span>
                                                        Posted: 

                                                        {{ c.date|date }}

                                                    </br>
                                                </li>
                                                <li>
                                                    <span class="icon fa-user"></span>
                                                        Poster: 

                                                        {{ c.poster }}

                                                    </br>
                                                </li>
                                        </ul>
                                        </section>
                                    </div>
                                {% if forloop.counter|divisibleby:4 %}
                                    </div>
                                    <div class="row">
                                {% endif %}
                                {% endfor %}
                            {% else %}

                                No active classifieds posted!<br>
                                Would you like to <a href="/classifieds/post/">post something</a>?

                            {% endif %}
                        {% endif %}
                        </div>
{% endblock %}
