{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-ship"></span>
                                <h2>Boat Ramp</h2>
                            </header>
                          </br>
                            <div class="row">
                            	<p>The boat ramp is available for the use of all members of the Shore Acres community who acquire a permit ($35 for SAIA members, $80 for nonmembers). SAIA members who own property that is part of the Lake Placid Waterway Improvement Tax District, and who pay a surcharge on their property taxes that pays for the dredging of the lake and channel, may be issued a boat ramp permit without charge.
                              <p>A permit is required to use the boat ramp. A permit is valid for the property owners and residents of the address associated with the permit <strong>only</strong>. If two residents own a boat jointly, they need only obtain one key between them. A permit holder may obtain an additional key at the price of $5.00.
                              <p>Boat Ramp Keys: The keys are changed every year in early May. To obtain a new key, please send a note with your address, phone number, and check ($35 for SAIA members, $80 for nonmembers):
                              <div style="text-align:center; width: 100%;">SAIA PO BOX 12
                              <br/>Arnold, MD, 21012</div>
                              <p>You can also contact the following dedicated community volunteers, Cyndy (410-349-0259) or Chris (410-757-4779).</p>
                              <h2 style="text-align:center,width:100%;">Rules of the Boat Ramp</h2>
                              <ul class="content_ul">
                                <li sty>Keys are not to be lent out or shared under any conditions.</li>
                                <li>The boat ramp is to be locked after each use, both when putting the boat into the water, and taking it out.</li>
                                <li>The ramp may not be used for any commercial purposes without express, written approval by SAIA.</li>
                                <li>No trailers are to be parked at the beach, trailers must be returned to your home for the duration of your boating.</li>
                                <li>Boats may be tied up at the pier only while awaiting the arrival or departure of the trailer.</li>
                                <li>Be courteous of others and obey all traffic laws at all times.</li>
                                <li>The speed limit on the lake and in the boat channel is 6 mph inside the stone jetty.</li>
                                <li>By submitting payment for the boat ramp permit, the resident or property owner agrees to the rules of the boat ramp. Should violations occur, SAIA may revoke the violator's permit and suspend future permit priveleges.</li>
                              </ul>

                            </div>
{% endblock %}
