{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-bullhorn"></span>
                                <h2>Announcement Signs</h2>
                            </header>
                        </br>
                            <div class="row">
                            	<p style="text-align: left;">We have an annoucement board at the intersection of Shore Acres and Deep Creek that generally shares messages about the community or upcoming events. If you'd like to use the announcement board, feel free to <a href="/contact/">contact us</a>!
                            </div>
{% endblock %}