{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-sun-o"></span>
                                <h2>Beach</h2>
                            </header>
                          </br>
                          </br>
                            <div class="row">
                            	<p>The community beach is available for the use of all members of the Shore Acres community and their guests, regardless of membership status.
                              <p>The facilities (picnic tables, grills, benches, and volleyball net) have been provided by the Association for the enjoyment of those using the beach.  They are available on a first-come-first-serve basis.  The Association reserves the right to pre-empt their use for scheduled social activities.
                              <p>The kayak racks are available to SAIA members. Users are responsible for their own locking devices for their kayaks. Submit your request either <a href="/contact/">here</a> or via writing to SAIA:
                              <div style="text-align:center; width: 100%;">SAIA PO BOX 12
                              <br/>Arnold, MD, 21012</div>
                              <h2 style="text-align:center;width:100%;">Rules of the Beach</h2>
                              <ul class="content_ul">
                                <li>Usage is limited to the Shore Acres community and their guests only.</li>
                                <li>Shore Acres community member must accompany all guests at all times.</li>
                                <li>No glass containers are permitted on the beach.</li>
                                <li>Motorized vehicles are only permitted in the parking lot.</li>
                                <li>The parking lot is for parking <strong>automobiles only</strong>, not boat trailers, etc.</li>
                                <li>No open fires are allowed on the beach.  Only the grills may be used for fires.</li>
                                <li>Violators of these rules are considered trespassers and may be subject to revocation of access privileges.</li>
                              </ul>
                              <iframe width="100%" height="450" frameborder="0" style="border:0;padding-top:20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7FjnmywWX6BhlkV01QVpry7UDj211QCI&q=39.059273,-76.458675&zoom=15" allowfullscreen></iframe>
                            </div>
{% endblock %}