{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-building-o"></span>
                                <h2>Shore Acres Facilities</h2>
                            </header>
                            </br>
                            <div class="row">
                            	<p style="text-align: left;">The subdivisions of Shore Acres, Adams Point, Weatherly, and various parcels of land in between are all served by the Shore Acres Improvement Association.  Membership and facilities of the SAIA are available to their residents and property owners.  Weatherly also has its own community association and facilities. "Shore Acres Estates," although part of the Shore Acres subdivision, has an association for the purposes of maintaining the street on which the homes sit and regulating its appearance.
                              <p>The Shore Acres Improvement Association owns and maintains a community beach for all residents and property owners regardless of association membership. The principal portion of beach is located at the eastern end of Forest Drive. From Shore Acres Road, turn onto Lake Drive. Go to the end of Lake Drive and turn right. Go to the end. A portion of the beach is also located across the boat channel, between the gravel road and the lake. It can be reached by going nearly to the end of Shore Acres Road and following the gravel drive on the left, behind the houses there.</p>
                              <iframe width="100%" height="450" frameborder="0" style="border:0;padding-top:20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7FjnmywWX6BhlkV01QVpry7UDj211QCI&q=39.059273,-76.458675&zoom=15" allowfullscreen></iframe>
                              <p>The Association also maintains a boat ramp at the beach.  It is available to Association members for $35 a year (in addition to the annual membership fee).
                              <p>A clubhouse is located on Magothy Ave. It is equipped with a kitchen and has spacious grounds including a recreation field and playground. It can accommodate 138 seated for a meeting, or 70 at tables. Rental for a weekend evening is $150 for members and $200 for others. Rates for shorter rentals or weeknights are negotiable. To get there, Follow Shore Acres Road. Make a right onto Magothy Avenue. The clubhouse is on the right.</p>
                              <iframe width="100%" height="450" frameborder="0" style="border:0;padding-top:20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7FjnmywWX6BhlkV01QVpry7UDj211QCI&q=974+magothy+ave+arnold+md+21012&zoom=17" allowfullscreen></iframe>
                            </div>
{% endblock %}
