{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-futbol-o"></span>
                                <h2>Recreation Area</h2>
                            </header>
                            <div class="row">
                            	<p>A recreation field and playground are located on the clubhouse grounds. The recreation area at the SAIA clubhouse comprises the basketball court, playground, sand box, benches, picnic tables, and grassy field in between. It is owned and maintained by the Association.
                              <p>The recreation area is available for use by all members of the Shore Acres community and their guests, regardless of membership status.  But it is for the exclusive use of the community. Guests must be accompanied by a Shore Acres resident at all times.</p>
                              <h2>Rules of the Recreation Area</h2>
                              <ul class="content_ul">
                                <li>The recreation area is open during daylight hours.</li>
                                <li>The basketball court is open until lights out, or 9:30 PM, whichever is earliest.</li>
                                <li>The area behind the clubhouse is <strong>not</strong> part of the recreation area and is not authorized for public use.</li>
                                <li>Children under the age of 9 must be supervised by someone at least 13 years of age.</li>
                                <li>The Improvement Association reserves the right to remove anyone from the premises for inappropriate or objectionable behavior.</li>
                                <li>The facilities are available on a first-come-first-served basis, except that the Association may pre-empt their use for Association functions, and the Association may pre-empt use of the basketball court or any other sports-related part of the area for scheduled games.</li>
                                <li>Violators of these rules are considered trespassers and may be subject to revocation of access privileges.</li>
                              </ul>
                                <iframe width="100%" height="450" frameborder="0" style="border:0;padding-top:20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7FjnmywWX6BhlkV01QVpry7UDj211QCI&q=974+magothy+ave+arnold+md+21012&zoom=17" allowfullscreen></iframe>
                            </div>
{% endblock %}