{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon fa-birthday-cake"></span>
                                <h2>Clubhouse</h2>
                            </header>
                          </br>
                            <div class="row">
                            	<p>The clubhouse exists for the benefit of the Shore Acres community. The SAIA uses it for its board and general meetings, as well as for social events and community services such as the dumpsters and flea market. The clubhouse is also available to members, nonmembers, and nonresidents for private use. Members may rent the clubhouse for $150 for a weekend evening. Nonmembers, whether residents or nonresidents, may rent it for $200. Negotiated rates are available for events that require less time than a full evening.  Civic or charitable groups may, at the Board’s discretion, be allowed to use the facility for meetings without charge on a space available basis if one of the members belongs to the Association.
                              <p>Additional rental items include folding metal chairs, tables, and a 10x10 foot canopy.
                              <p>To rent the clubhouse, a contract must be signed, and a deposit is due at the time the contract is signed (the deposit will also double as a damage and cleanup deposit). The rental payment is due in advance.
                              <p>In the case of a civic or charitable group using the clubhouse for meetings, an Association member must be participating in the activity, and must act as representative for the group in contracting with SAIA for the clubhouse's use.
                            </div>
                            <header><h2>Current Clubhouse Rental Rates</h2></header>
                            <table class="clubhouse">
                              <tr>
                                <th>
                                  Event Category
                                </th>
                                <th>
                                  Members
                                </th>
                                <th>
                                  Non-Members
                                </th>
                              </tr>
                              <tr>
                                <td>
                                  Special Events and Kids Parties (see below)
                                </td>
                                <td>
                                  $150
                                </td>
                                <td>
                                  $200
                                </td>
                              </tr>
                              <tr>
                                <td>Fund Raising Events
                                    <br>Non-Profit Organizations
                                </td>
                                <td>$50.00
                                  <br>$50.00 Deposit
                                </td>
                                <td>$75.00
                                  <br>$75.00 Deposit
                                </td>
                              </tr>
                              <tr>
                                <td>Community Orientated Functions
                                  <br>
                                </td>
                                <td>$75.00
                                  <br>$75.00 Deposit
                                </td>
                                <td>$100.00
                                  <br>$100.00 Deposit
                                </td>
                              </tr>
                              <tr>
                                <td>Community Meetings &amp; Events
                                </td>
                                <td>Free
                                  <br>$50.00 Deposit
                                </td>
                                <td>$50.00
                                  <br>$50.00 Deposit
                                </td>
                              </tr>
                              <tr>
                                <td>Grounds only (w Key to Restrooms)
                                </td>
                                <td>Free
                                  <br>$50.00 Deposit
                                </td>
                                <td>$50.00
                                  <br>$50.00 Deposit
                                </td>
                              </tr>
                              <tr>
                                <td>Parking Lot
                                </td>
                                <td>$50.00
                                </td>
                                <td>N/A
                                </td>
                              </tr>
                            </table></br>
                            <header><h2>Special Events</h2></header>
                            <div class="row">
                              <p>Events requiring set up or extended possession of the Clubhouse key. These events include but are not limited to weddings, high school reunions, catered events, Bar/Bat Mitzvahs, Showers, Kids parties, and rentals requiring decoration.
                              <p>Clubhouse Coordinator will contact you to make arrangements to open the clubhouse the day of your event.  The Clubhouse must be returned to the same or better condition in which it was found. Please adhere to posted clean-up guidelines. There are multiple checklists posted throughout the facility.
                              <p>Thank you for choosing the Shore Acres Clubhouse!  We hope your event is successful and fun!<p>Shore Acres Clubhouse address: 
                              <div style="text-align:center; width: 100%;">974 Magothy Ave.
                                <br/>Arnold, MD, 21012</div>
                              <div style="text-align:center; width: 100%;"><a href="/static/files/CLUBHOUSE_RENTAL_AGREEMENT.pdf">Click Here</a> to view / download / print the Clubhouse Rental Agreement</div>
                            <iframe width="100%" height="450" frameborder="0" style="border:0;padding-top:20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7FjnmywWX6BhlkV01QVpry7UDj211QCI&q=974+magothy+ave+arnold+md+21012&zoom=17" allowfullscreen></iframe>
                            </div>

{% endblock %}
