{% extends 'base.html' %}
{% load static %}
{% block content %}
                        
                        <header class="special">
                            <span class="icon {{ icon }}"></span>
                            <h2>

                                {{ title }}

                            </h2>
                        </header>
                        
                        {% if form.non_field_errors %}
                        
                            {% for error in form.non_field_errors %}
                        
                                {{ error }}</br>

                            {% endfor %}</br>
                        
                        {% endif %}

                        {% if title == 'login' %}

                            Not yet registered? <a href="/register/">Click Here</a> to get signed up!</br></br><a href="/password_reset/">Forgot password?</a>

                        {% endif %}

                        {% if title == 'register' %}
                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            Already registered? <a href="/login/">Click Here</a> to log in.</br></br>
                            You are <strong>NOT</strong> included in the neighborhood directory by default.</br>To include your information, visit the <strong>EDIT MY INFO</strong> link under the <strong>MEMBERS</strong> dropdown once logged in.

                        {% endif %}

                        {% if title == 'edit' %}

                            By electing to include your information in the </br>
                            neighborhood directory, your email address and </br>
                            all information provided here will be included. </br></br>
                            <a href='/password_reset/'>Click here</a> to change your password.

                        {% endif %}

                        {% if title == 'create event' %}
                            <script src="{% static 'assets/js/jquery.min.js' %}"></script>
                        {% endif %}

                        </br></br>

                        <div class="row">

                        <form action="." style="float:none;" method="POST" enctype="multipart/form-data">

                        	{% csrf_token %}

                            {% if title == "edit" %}
                                    <div style="width:100%;">
                                        <div class="6u 12u(mobile)" style="margin:auto;padding-bottom:1em;" >

                                            Your email address: {{ request.user.email }}</br>

                                        </div>
                                    </div>
                            {% endif %}

                            {% for field in form %}

                                {% if field.name != "img" and field.name != "date" %}

                                    <div style="width:100%;">

                                    {% for error in field.errors %}

                                        <div class="6u 12u(mobile)" style="text-align:left;padding-bottom:0em;margin:auto;background-color:rgba(0,0,0,.1);">

                                            {{ error|safe }}

                                        </div>

                                    {% endfor %}

                                        <div class="6u 12u(mobile)" style="margin:auto;padding-bottom:0em;" >

                                            {{ field }}

                                            <img src="{{ field.url }}">
                                        </div>
                                    </div>

                                {% endif %}

                        	{% endfor %}

                            {% if title == 'edit' %}
                                <script>
                                    function readURL(input) {
                                                if (input.files && input.files[0]) {
                                                    var reader = new FileReader();

                                                    reader.onload = function (e) {
                                                        $('#imgpreview')
                                                            .attr('src', e.target.result);
                                                    };

                                                    reader.readAsDataURL(input.files[0]);
                                                }
                                            };
                                    function clearbutton() {
                                        $('#imgpreview').attr('src', '{{ request.user.profile.img.url }}');
                                        $('#ignore_file').attr('checked', true);
                                    };
                                </script>
                                <div style="width:100%;">
                                    <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                                        <label>Current Picture</label>   
                                    </div>
                                </div>
                                <div style="width:100%;">
                                    <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;padding-bottom:2em;" >
                                        <img id="imgpreview" src="{{ request.user.profile.img.url }}" style="max-width:200px;">
                                        <br/>
                                        <label for="id_img" class="custom-file-upload">
                                            Custom Upload
                                        </label>
                                        <input type='checkbox' name='ignore_file' id='ignore_file' style='display:none;'>
                                        <input id="id_img" name="img" type="file" onchange="readURL(this);"/>
                                        <label for="clear-button" class="custom-file-upload">
                                            Clear
                                        </label>
                                        <input id="clear-button" type="button" onclick="clearbutton();" style="display:none;"/>
                                    </div>
                                </div>
                                <div style="width:100%;">
                                    <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                                        <label>Sign up for our email list?</label>
                                         <input type="checkbox" name="email_list" id="email_list" {% if request.user.profile.email_list == True %} checked {% endif %}/>     
                                    </div>
                                </div>
                                <div style="width:100%;">
                                    <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                                        <label>Include your info in the neighborhood directory?</label> 
                                        <input type="checkbox" name="directory_visible" id="directory_visible" {% if request.user.profile.directory_visible == True %} checked {% endif %}/>   
                                    </div>
                                </div></br>

                            {% endif %}

                            {% if title == "register" %}

                                <div style="width:100%">
                                    <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;width:304px;" >
                                        <div class="g-recaptcha" data-sitekey="6LeLKVUUAAAAAGKg540n8VeM0MivF0WkDPHfz6XV"></div>
                                    </div>
                                </div>

                            {% endif %}                            

                            {% if title == 'create event' %}
                            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
                            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                            <div style="width:100%">
                                <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;">
                                    <div id="flatpicker">
                                        <input name="date" class="flatpickr flatpickr-input active" type="text" placeholder="Select Date..">
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                    $( '.flatpickr' ).flatpickr({
                                        minDate: "today",
                                        enableTime: true,
                                        dateFormat: 'Y-m-d h:i:ss'
                                      });
                            </script>
                            <script>
                                function readURL(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();

                                                reader.onload = function (e) {
                                                    $('#imgpreview')
                                                        .attr('src', e.target.result);
                                                };

                                                reader.readAsDataURL(input.files[0]);
                                            }
                                        };
                                function clearbutton() {
                                    $('#imgpreview').attr('src', '{{ request.user.profile.img.url }}');
                                    $('#ignore_file').attr('checked', true);
                                };
                            </script>
                            <div style="width:100%;">
                                <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                                    <label>Current Picture</label>   
                                </div>
                            </div>
                            <div style="width:100%;">
                                <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;padding-bottom:2em;" >
                                    <img id="imgpreview" src="/static/images/event.jpg" style="max-width:200px;">
                                    <br/>
                                    <label for="id_img" class="custom-file-upload">
                                        Custom Upload
                                    </label>
                                    <input type='checkbox' name='ignore_file' id='ignore_file' style='display:none;'>
                                    <input id="id_img" name="img" type="file" onchange="readURL(this);"/>
                                    <label for="clear-button" class="custom-file-upload">
                                        Clear
                                    </label>
                                    <input id="clear-button" type="button" onclick="clearbutton();" style="display:none;"/>
                                </div>
                            </div>
                            {% endif %}
                            <div class="12u">
                                <ul class="buttons">
                                    <li><input type="submit" class="special" value="{{ btn }}" /></li>
                                </ul>
                            </div>


                        </form>
                    </div>
{% endblock %}
