{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="content">
			
		<section
		class="vc_row fullheight d-flex flex-wrap align-items-center bg-cover bg-center py-6"
		data-row-bg="{% static 'assets/bg/main.jpg' %}"
		style="background-position: top left, top center;"
		>

		<span class="row-bg-loader"></span>
		
		<div class="container">
			<div class="row">

					<div
						class="lqd-column col-md-10 col-md-offset-1 text-center"
						data-custom-animations="true"
						data-ca-options='{ "triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1200", "delay":"150", "easing":"easeOutQuint", "direction":"forward", "initValues":{"translateY":60, "translateZ":-160, "rotateX":-84, "opacity":0}, "animations":{"translateY":0, "translateZ":0, "rotateX":0, "opacity":1} }'
						style="background: rgba(147, 204, 234, 0.3); padding: 60px 0 60px 0;"
					>

						<h2
							class="text-white mt-0 mb-30"
							data-split-text="true"
							data-split-options='{"type":"lines"}'
							data-fittext="true"
							data-fittext-options='{"compressor": 0.75, "maxFontSize": 60}' 
							>Shore Acres
						</h2>

						<div class="row">

							<div class="lqd-column col-md-10 col-md-offset-1 px-5">

								<p class="font-size-30 lh-19 text-fade-white-07 px-md-7 mb-50" style="font-family: Josefin Slab; font-size: 30px; line-height: 1.9;">A community beside the Magothy River in Arnold, Maryland</p>
								

								<a href="https://www.redfin.com/city/21236/MD/Arnold/filter/sort=lo-distance,viewport=39.107164713085936:39.00416788691406:-76.39074024921875:-76.52806935078125,no-outline,geo-address=Shore+Acres%0C+Arnold%0C+MD" target="_blank" class="btn btn-solid text-uppercase btn-md round border-thin font-size-13 text-uppercase ltr-sp-15 px-3 lh-175 py-1 mb-2">
									<span>
										<span class="btn-txt">Real Estate</span>
									</span>
								</a>
								<a href="/about/" class="btn btn-bordered text-uppercase btn-md round border-thin btn-icon-left btn-white-fade-border font-size-13 text-uppercase ltr-sp-15 px-3 lh-175 py-1 mb-2">
									<span>
										<span class="btn-txt">About The SAIA</span>
										<span class="btn-icon">
											<i class="fa fa-play"></i>
										</span>
									</span>
								</a>

							</div><!-- /.lqd-column col-md-10 col-md-offset-1 -->

						</div><!-- /.row -->

					</div><!-- /.col-md-8 col-md-offset-2 -->
				</div><!-- /.row -->

		</div><!-- /.container -->
		
	</section>

{% if events %}
	<section class="vc_row pt-100 pb-80">
		<div class="container">
			
			<div class="row">
				
				<div class="lqd-column col-md-6 col-md-offset-3">
					
					<header
						class="fancy-title mb-60 text-center"
						data-custom-animations="true"
						data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":57,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
						>
						<h2>Upcoming Events</h2>
						<p class="font-size-18 lh-16 px-6">Don't miss out on these great upcoming events!<br><a href="/events/">View the whole calendar here.</a></p>
					</header><!-- /.fancy-title -->
					
				</div><!-- /.col-md-6 col-md-offset-3 -->
				
			</div><!-- /.row -->
			
			<div
				class="row"
				data-custom-animations="true"
				data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","initValues":{"translateX":-34,"opacity":0},"animations":{"translateX":0,"opacity":1}}'
				>
				
				{% for e in events %}
					<div class="lqd-column col-md-3 col-sm-6">
						
						<div class="fancy-box fancy-box-classic">
							<div class="cb-img-container mb-4">
								<figure class="fancy-box-image" style="background-image: url('/{{ e.img }}'); background-size: cover; min-height: 290px; background-position: center;">
									&nbsp;
								</figure>
							</div><!-- /.cb-img-container -->
							<div class="fancy-box-contents">
								<div class="fancy-box-header">
									<button class="btn btn-naked font-size-14">
										<span>
											<span class="btn-icon"><i class="fa fa-calendar"></i></span>
											<span class="btn-txt" style="padding-left: 15px;">{{ e.date }}</span>
										</span>
									</button>
									<h3>{{ e.title }}</h3>
									<p>{{ e.description }}</p>
								</div><!-- /.fancy-box-header -->
							</div><!-- /.fancy-box-content -->
						</div><!-- /.fancy-box -->
						
					</div><!-- /.col-md-3 col-sm-6 -->
				{% endfor %}

			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
{% endif %}
	
{% if news %}
	<section class="vc_row pt-80 pb-80" id="blog">
		<div class="container">
			<div class="row">

				<div class="lqd-column col-md-8 col-md-offset-2">

					<header
						class="fancy-title mb-60 text-center"
						data-custom-animations="true"
						data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":57,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
						>
						<h2>Latest News</h2>
						
					</header>

				</div><!-- /.col-md-8 col-md-offset-2 -->

				<div class="row">

					<div class="lqd-column col-md-12">

						<div class="liquid-blog-grid liquid-blog-style-square row mx-0" data-liquid-masonry="true">

							{% for n in news %}
								<div class="lqd-column col-md-4 masonry-item px-0">

									<article class="liquid-lp liquid-lp liquid-blog-item liquid-blog-item-gray liquid-blog-scheme-dark">

										<div class="liquid-blog-item-inner">
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title font-weight-normal mb-1">
													<a href="#">{{ n.title }}</a>
												</h2>
											</header>

											<div class="liquid-lp-excerpt">
												<p>{{ n.body }}</p>
											</div><!-- /.latest-post-excerptc -->

											<footer class="liquid-lp-footer">
												<div class="ld-post-author">
													<div class="ld-author-info">
														<time class="liquid-lp-date text-uppercase ltr-sp-1 my-0" datetime="2019-09-18">{{ n.date }}</time>
														<h5 class="text-uppercase ltr-sp-2 my-0">{{ n.author }}</h5>
													</div><!-- /.ld-author-info -->
												</div>
											</footer>

										</div><!-- /.liquid-blog-item-inner -->

									</article>

								</div><!-- /.col-md-4 -->
							{% endfor %}
							
						</div><!-- /.row -->

					</div><!-- /.col-md-12 -->

				</div><!-- /.row -->
				
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
{% endif %}

	<section class="vc_row pt-10 pb-70">
					
		<div class="container-fluid px-0">
			
			<div class="row mx-0">
				
				<div class="lqd-column col-md-12">
					
					<div class="liquid-portfolio-list">
						
						<div
							class="row liquid-portfolio-list-row"
							data-liquid-masonry="true"
							data-masonry-options='{ "filtersID": "#portfolio-1" }'
							data-custom-animations="true"
							data-ca-options='{"triggerHandler":"inview","animationTarget":".ld-pf-item","animateTargetsWhenVisible":"true","duration":"1200","delay":"150","easing":"easeOutQuint","initValues":{"translateY":37,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 architecture">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/1.jpg' %}');">
												<img src="{% static 'assets/img/1.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>Fundraiser</h3>
												<div class="ld-pf-category size-sm">
													<a class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>Stemless Wine Glasses</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 brand interior">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/2.jpg' %}');">
												<img src="{% static 'assets/img/2.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>4th of July</h3>
												<div class="ld-pf-category size-sm">
													<a href="#" class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>Before the Parade</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 strategy urban">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/3.jpg' %}');">
												<img src="{% static 'assets/img/3.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>Clubhouse</h3>
												<div class="ld-pf-category size-sm">
													<a href="#" class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>Home to Many events</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 architecture urban">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/4.jpg' %}');">
												<img src="{% static 'assets/img/4.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>Meeting</h3>
												<div class="ld-pf-category size-sm">
													<a href="#" class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>Discussing Community Issues</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 urban interior">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/5.jpg' %}');">
												<img src="{% static 'assets/img/5.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>The Beach</h3>
												<div class="ld-pf-category size-sm">
													<a href="#" class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>Enjoy a beautiful sunset</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 interior architecture">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/6.jpg' %}');">
												<img src="{% static 'assets/img/6.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>Yoga</h3>
												<div class="ld-pf-category size-sm">
													<a href="#" class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>On paddleboards in the cove</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 interior architecture">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/7.jpg' %}');">
												<img src="{% static 'assets/img/7.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>The Beach</h3>
												<div class="ld-pf-category size-sm">
													<a href="#" class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>Don't Forget Sunscreen</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
							<div class="lqd-column col-lg-3 col-sm-6 masonry-item px-0 interior architecture">
								
								<div class="ld-pf-item ld-pf-light pf-details-inside pf-details-full pf-details-h-mid pf-details-v-end pf-hover-masktext mb-0">
									
									<div class="ld-pf-inner">
										
										<div class="ld-pf-image" data-blur="true" data-blur-options='{ "hoverTarget": ".ld-pf-item", "hoverTargetRelation": "closest" }'>
											<figure style="background-image: url('{% static 'assets/img/8.jpg' %}');">
												<img src="{% static 'assets/img/8.jpg' %}" alt="Portfolio Image">
											</figure>
										</div><!-- /.ld-pf-image -->
										
										<div class="ld-pf-bg"></div><!-- /.ld-pf-bg -->
										
										<div class="ld-pf-details" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 80, "duration": 650, "delay": 150, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
											<div class="ld-pf-details-inner">
												<h3 class="ld-pf-title h4 text-uppercase" data-split-text="true" data-split-options='{ "type": "lines" }'>Fall Clean Up</h3>
												<div class="ld-pf-category size-sm">
													<a href="#" class="text-uppercase ltr-sp-1" data-split-text="true" data-split-options='{ "type": "lines" }'>Keeping the community beautiful</a>
												</div><!-- /.ld-pf-category -->
											</div><!-- /.ld-pf-details-inner -->
										</div><!-- /.ld-pf-details -->
										
										
									</div><!-- /.ld-pf-inner -->
									
								</div><!-- /.ld-pf-item -->
								
							</div><!-- /.col-lg-3 col-md-6 -->
							
						</div><!-- /.row liquid-portfolio-list-row -->
						
					</div><!-- /.liquid-portfolio-list -->
					
				</div><!-- /.col-md-12 -->
				
			</div><!-- /.row mx-0 -->
			
		</div><!-- /.container-fluid px-0 -->
		
	</section>
	
</main><!-- /#content.content -->
{% endblock %}