{% extends 'base.html' %}
{% load static %}
{% block content %}
              <header class="special">
                  <span class="icon fa-newspaper-o"></span>
                  <h2>Create News</h2>
              </header>
              Please enter your new news item below:
                <form method='post'>
                    {% csrf_token %}
                    <div class="row 50%">
                        <div class="6u 12u(mobile)" style="float:inherit; margin: auto;">
                            <textarea id="news" name="news" placeholder="News" rows="4"/></textarea>
                        </div>
                    </div>
                    <div class="row 50%" style="padding-top: 20px;">
                        <div class="12u">
                            <ul class="buttons">
                                <li><input type="submit" class="special" value="Submit" /></li>
                            </ul>
                        </div>
                    </div>
                </form>

{% endblock %}