{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <header class="special">
                                <span class="icon {{ icon }}"></span>
                                <h2>{{ title }}</h2>
                            </header>
                            <div class="row">
                                <form style="float:none;" method="POST">
                                	{% csrf_token %}
                                    {% for field in form %}
                                    <div style="width:100%;">
                                        {% for error in field.errors %}
                                            <div class="6u 12u(mobile)" style="text-align:left;padding-bottom:2em;margin:auto;">{{ error|safe }}</div>
                                        {% endfor %}
                                        <div class="6u 12u(mobile)" style="margin:auto;padding-bottom:2em;" >
                                            {{ field }}    
                                        </div>
                                    </div>
                                	{% endfor %}
                                    <div style="width:100%;">
                                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;" >
                                            <label>Sign up for our email list?</label>   
                                        </div>
                                    </div>
                                    <div style="width:100%;">
                                        <div class="6u 12u(mobile)" style="margin:auto;display:inline-block;;padding-bottom:2em;" >
                                            <input type="checkbox" name="email_list" id="email_list" />    
                                        </div>
                                    </div>
                                    <div class="12u">
                                        <ul class="buttons">
                                            <li><input type="submit" class="special" value="Register!" /></li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
{% endblock %}